<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Cadastrar clientes</h1>
                </div>
                <div class="card-body">
                    <form action="/clientes/new" method="post">
                       <label> Nome do cliente:</label>
                       <input type="text" name="nome"
                       placeholder="Insira o nome do Cliente"
                       class="form-control" required>
                       <label>CPF do cliente:</label>
                       <input type="text" name="cpf"
                       placeholder="Insira o CPF do cliente"
                       class="form-control" required>
                       <label>Endereço do cliente:</label>
                       <input type="text" name="endereco"
                       placeholder="Insira o endereço do cliente"
                       class="form-control" required>  
                       <input type="submit" class="btn btn-success"
                       value="Cadastrar" >
                       <input type="reset" class="btn btn-danger"
                       value="Limpar" >   
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Cadastrar clientes</h1>
                </div>
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome:</th>
                                <th>CPF:</th>
                                <th>Endereco:</th>
                                <th colspan="2" style="text-align: center">Ações:</th>
                            </tr>
                        </thead>
                        </thead>
                        <tbody>
                            <% clientes.forEach(cliente=> { %>
                                <tr>
                                    <td><img src="imgs/avatar.png" width="30px"></td>
                                    <td><%= cliente.nome %></td>
                                    <td><%= cliente.cpf %></td>
                                    <td><%= cliente.endereco %></td>
                                    <td>
                                        <a href="/clientes/edit/<%= cliente.id %>">
                                           <button class="btn btn-warning">
                                             Editar
                                           </button>
                                        </a>
                                    </td>   
                                  <td>
                                     <a href="/clientes/delete/<%= cliente.id %>">
                                         <button onclick="return confirm('Deseja mesmo exluir o cliente <%= cliente.nome %>?')" class="btn btn-danger">
                                            Excluir
                                         </button>
                                     </a>
                                  </td>
                                </tr>                                    
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<%- include ('partials/footer.ejs') %>